body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  font-size: 16px;
  width: 100%;
  height: 100vh;
  /* css style untuk cover dari sini */
  background-image: linear-gradient(navy, grey),
    url("./img/survey-background.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-blend-mode: multiply;
  color: #f1f1f1;
  /* sampai sini. */
}

/* title & description */
#title {
  text-align: center;
  padding-top: 35px;
  font-weight: bolder;
  font-size: 2.3rem;
}

#description {
  text-align: center;
  margin-top: -15px;
  font-style: italic;
  font-size: 1.1rem;
}

/* form */
form {
  margin: 35px auto 0 auto;
  min-width: 350px;
  max-width: 850px;
  width: 50vw;
  padding: 30px 30px 50px 30px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 15px;
}

/* seluruh isi form */
label,
select,
option,
textarea,
input[type="text"],
input[type="email"],
input[type="number"] {
  display: block;
  font-size: 1.15rem;
}

input[type="text"],
input[type="email"],
input[type="number"] {
  width: 99%;
  margin-top: 10px;
  margin-bottom: 20px;
  min-height: 2em;
}

input[type="text"]::placeholder,
input[type="email"]::placeholder,
input[type="number"]::placeholder {
  text-indent: 10px;
  font-size: 1rem;
}

input[type="text"],
input[type="email"],
input[type="number"],
textarea {
  border-radius: 5px;
}

input[type="number"] {
  margin-bottom: 30px;
}

label {
  font-size: 1.2rem;
}

span {
  color: salmon;
}

/* role section */
select {
  margin-top: 10px;
  width: 100%;
  min-height: 2em;
  padding-left: 5px;
  border-radius: 5px;
  color: grey;
  margin-bottom: 30px;
}
