body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  font-size: 16px;
  width: 100%;
  height: 100vh;
  /* css style untuk cover dari sini */
  background-image: linear-gradient(navy, grey),
    url("./img/survey-background.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-blend-mode: multiply;
  color: #f1f1f1;
  /* sampai sini. */
}

#title,
#description {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#title {
  margin-top: 25px;
  margin-bottom: -10px;
  font-size: 2.25rem;
}

#description {
  font-size: 1.25rem;
  font-style: italic;
  font-weight: 300;
}

form {
  margin: 40px auto 0 auto;
  background-color: rgba(0, 0, 0, 0.5);
  max-width: 600px;
  min-width: 350px;
  width: 60vw;
  padding: 25px 25px 45px 25px;
  border-radius: 10px;
}
